body {
    font-family: Arial;
    margin: 20px;
}

input {
    padding: 8px;
    width: 250px;
}

button {
    padding: 8px;
}

table {
    margin-top: 15px;
    border-collapse: collapse;
    width: 80%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
}

th {
    background-color: #dddddd;
}

.tabela-bonita {
    border-collapse: collapse;
    width: 100%;
    margin-top: 10px;
    font-family: Arial;
}

.tabela-bonita th, .tabela-bonita td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.tabela-bonita th {
    background-color: #2c3e50;
    color: white;
}

.tabela-bonita tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabela-bonita tr:hover {
    background-color: #ddd;
}

button {
    padding: 5px 10px;
    margin: 2px;
}
